@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

$white: #fff;
$grayLight: #e0e0e0;
$grayMedium:#d1d1d1;
$grayDark: #858693;
$orange: #f5923e;
$black: #000;
$mainFont: 'Yusei Magic', sans-serif;
