$darkenskyblue: darken(skyblue, 30%);

header,
header ul {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

header #logo {
  margin-left: 2rem;
  font-size: 3rem;
  text-decoration: none;
  color: #000;
}

header nav {
  margin-left: auto;
  margin-right: 2rem;
}

header ul {
  display: flex;
  list-style-type: none;
  font-size: 1.6rem;
}

header ul li {
  padding: 0.5rem 1rem;
}

header ul li + li {
  border-left: 2px solid #000;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: $darkenskyblue;
}

nav a:hover {
  color: skyblue;
}
